{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "Beautiful Wood") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "White Oak" "text" "Coffe." "imageUrl" "/img/about/shade-grown.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Sequoia Redwood" "text" "Single-origin ." "imageUrl" "/img/about/single-origin.jpg") }}

  {{ partial "media-block" (dict "heading" "Douglas Fir" "text" "Sust." "imageUrl" "/img/about/sustainable-farming.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Maple" "text" "Dire." "imageUrl" "/img/about/direct-sourcing.jpg") }}

  {{ partial "media-block" (dict "heading" "Ponderosa Pine" "text" "We ." "imageUrl" "/img/about/reinvest-profits.jpg") }}
  
    {{ partial "media-block" (dict "heading" "Walnut" "text" "We want ." "imageUrl" "/img/about/reinvest-profits.jpg") }}
  
    {{ partial "media-block" (dict "heading" "Red Cedar" "text" "We " "imageUrl" "/img/about/reinvest-profits.jpg") }}
  
    {{ partial "media-block" (dict "heading" "Poplar" "text" "We ." "imageUrl" "/img/about/reinvest-profits.jpg") }}
  
</div>

{{ partial "footer" . }}
