{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "Beautiful Wood") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "White Oak" "text" "Floors" "imageUrl" "/img/about/shade-grown.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Sequoia Redwood" "text" "Decks" "imageUrl" "/img/about/single-origin.jpg") }}

  {{ partial "media-block" (dict "heading" "Douglas Fir" "text" "Floors" "imageUrl" "/img/about/sustainable-farming.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Maple" "text" "Doors" "imageUrl" "/img/about/direct-sourcing.jpg") }}

  {{ partial "media-block" (dict "heading" "Ponderosa Pine" "text" "Tables" "imageUrl" "/img/about/reinvest-profits.jpg") }}
  
    {{ partial "media-block" (dict "heading" "Walnut" "text" "Floors" "imageUrl" "/img/about/unfinished-walnut-character-room-thumbs.jpg") }}
  
    {{ partial "media-block" (dict "heading" "Red Cedar" "text" "Siding" "imageUrl" "/img/about/reinvest-profits.jpg") }}
  
    {{ partial "media-block" (dict "heading" "Poplar" "text" "Tables" "imageUrl" "/img/about/reinvest-profits.jpg") }}
  
</div>

{{ partial "footer" . }}
