{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/logo.svg" alt="" class="db w4 center pv4">

		<p class="mt0">You made it here - thank you. <br> Now lets get you a quote. <br></p>

		<h3 class="f4 b lh-title mt0 mb2">Call us now (415) 326-6171‬ - please leave a voice mail - with as much detail as you can about your boat and what you need done, and we will respond within an hour during business hours. 
 </h3>
		
		<p class="mt0">Click the blue chat icon at the lower right to chat in real time. If i am available - I will respond, otherwise I will contact you at the top of each hour.</p>

		<div class="flex-ns mb3">

			<div>
			</div>

			<div>
				<h4 class="f4 b lh-title mt0 mb2 primary">Working hours</h4>
				<p class="mt0">We work 7 days a week.
					 7AM – Dark </p>
			</div>

		</div>

	</div>
</div>

{{ partial "footer" . }}
