{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/about/wood-mark-02.jpg" "title" "Keep your pride and joy in top shape! " "subtitle" "Chat now or call us at (415) 326-6171‬ to leave us a message. We make top-sides beautiful & bottoms as fast, durable and affordable.") }}

{{ partial "short-text" (dict "heading" "Brightwork" "text" "We have been honing our craft for 20 years and we take wood and gelcoat and epoxy to near perfection. We do BrightWork with the most eco-friendly sustainable products available - see our instagram posts to see the products we use and how we use them.")}}

{{ partial "2-up" (dict "heading" "Our Services" "description" "At Brightworkers - boat restoration is our art." "svg1" "img/illustrations/coffee.svg" "text1" "We do a few things really well and can offer them at the most affordable prices. We’re proud to offer our restoration services with great care for the environment and local communities. Check our post or contact us directly for current availability." "svg2" "/img/illustrations/coffee-gear.svg" "text2" "We offer a small, but carefully curated selection of shipwright, staining, insulating servies. No matter if you own your home, or you are a large apartment house manager, you’ll find a service to fall in love with." "buttonText" "See all products" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our Values" "text" "We are always punctual – we are transparent about every step of the proces - we guarantee to always be under budget, and always finish when we say we will." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
