{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/IMG_0064.jpg" "title" "Keep your pride and joy in tip-top shape! " "subtitle" "Call us at (415) 326-6171‬. We make top-sides beautiful & bottoms that stay clean longer") }}

{{ partial "short-text" (dict "heading" "Brightwork" "text" "We have honed our craft for 20 years. We are sailboat owners and take brightwork, detailing, gelcoat and epoxy to near perfection. We know how to get the most from eco-friendly sustainable products - see our instagram posts to see the products we use and how we use them.")}}

{{ partial "2-up" (dict "heading" "Our Services" "description" "At Brightworkers - beautifying boats is our art." "svg1" "img/illustrations/coffee.svg" "text1" "We do a few things really well and can offer them at the most affordable prices. We’re proud to offer our restoration services with great care for the environment and local communities. Check our post or contact us directly for current availability." "svg2" "/img/illustrations/coffee-gear.svg" "text2" "We offer a small, but carefully curated selection of shipwright, staining, insulating servies. No matter if you own your home, or you are a large apartment house manager, you’ll find a service to fall in love with." "buttonText" "See all products" "buttonLink" "/products"  ) }}

{{ partial "2-up" (dict "heading" "Our Products" "description" "At Brightworkers - beautifying boats is our art." "svg1" "img/illustrations/coffee.svg" "text1" "We do a few things really well and can offer them at the most affordable prices. We’re proud to a few products - made with great care - that boat owners just might find useful. Check our posts or contact us directly for current availability." "svg2" "/img/illustrations/coffee-gear.svg" "text2" "We offer this small, but carefully curated selection of products first to our customers, then to sustaining supporters, and then to the public. No matter if you own a boat or not, you just might find a product to fall in love with." "buttonText" "See all products" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our Values" "text" "We are always Punctual. We are transparent in every step of our process. We guarantee to always be within budget. When we get your 50% down payment, we put you on the work schedule and order all materials. Once all the materials are in house, we give you a hard delivery date that we will not miss. We always reserve the last payment ( always 1/4 of the labor on the job) for complete client satisfaction. Our entire team gets paid based on this schedule so Brightworkers, the boat owner, and the team all have the same financial incentives." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
