{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "Restorationists") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "Always on Time" "text" "Punctuality is King. When you trust your property to use to beautify, it is our committment that we show up early, and conform to the exact schedule you want us to. " "imageUrl" "/img/about/shade-grown.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Full Transparency" "text" ".We involve our clients in our team kick-off meeting every morning on the job, wherever they are, and record the team meeting so the client can listen to the daily plan even though they are not available for the call. We do this so we insure the team is always on the same page, and our clients are always in the loop." "imageUrl" "/img/about/single-origin.jpg") }}

  {{ partial "media-block" (dict "heading" "Cleaner Than We Found It Every Day" "text" "Your property should be beautifed without going through an ugly mess in the process. We commit to running the tighest ship you have ever seen and make sure that your exteriors and interiors are pristine. We love plants and make sure that they are repected when we do exterior work. On Interiors, all our people insure there is no dust and no evidence of our work at the end of every day " "imageUrl" "/img/about/sustainable-farming.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Never Over Budget" "text" "We guarantee that we will never be over the budget we agree with out clients. Every day we provide detail recap of all activities to our clients with hours spent, hours billed, and jobs accomplished. We apply rigorous project management skills to every job to insure our projects finish on time and under budget. All of our team members are rewarded on these parameters - making us the opposite of many contractors." "imageUrl" "/img/about/direct-sourcing.jpg") }}

  {{ partial "media-block" (dict "heading" "Reinvest profits" "text" "We want to truly empower the communities that bring us or work. That’s why we reinvest 20% of our profits into local trade schools where we do our restoration projects. You can see the community interns works and learn more about how we include others on our blog." "imageUrl" "/img/about/reinvest-profits.jpg") }}
</div>

{{ partial "footer" . }}
