{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/products/831-jumbotron-4.jpg" "title" "How We Work") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "Always on Time" "text" "Punctuality is King. When you trust your boat to us,  we commit to start work on time, to conform to the exact schedule we agree on, and deliver when we say we will. " "imageUrl" "/img/about/shade-grown.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Full Transparency" "text" "Our clients have full real-time access to what we are doing and when. They are welcome to join our team kick-off meeting every morning, wherever they are, to participate in our process and give their input. We record every team stand-up meeting so the client can keep up to date even though they are not available for the call. We do this so we insure the team is always on the same page, and our clients are always in the loop." "imageUrl" "/img/about/single-origin.jpg") }}

  {{ partial "media-block" (dict "heading" "Cleaner Than We Found It " "text" "Your pride and joy should be beautifed without going through an ugly mess in the process. We commit to running the tighest ship possible and to make sure that your exteriors and interiors are pristine. We use the best dust collection available and make sure interior areas are never dusty." "imageUrl" "/img/about/IMG_4716.JPG") }}

  {{ partial "media-block-reverse" (dict "heading" "No Surprises - Never Over Budget" "text" "We guarantee that we will never be over the budget we agree with our clients. Every day we provide detail recap of all activities to our clients with hours spent, hours billed, and jobs accomplished. We apply rigorous project management skills to every job to insure our projects finish on time and under budget. All of our team members are rewarded on these parameters to insure everyone has the same incentives. Every project has a reserve that is only paid by our clients when they have signed off that they are completely satisfied with the project." "imageUrl" "/img/about/direct-sourcing.jpg") }}

  {{ partial "media-block" (dict "heading" "Always Learning / Always Teaching" "text" "We want share our knowledge with our clients and every boater on the planet. We are always learning - about better ways to keep up a boat, about new and better products, and we are committed to sharing our product experiences with our clients and the boat restoration community. Follow us on our Brightworkers instagram /Youtube pages." "imageUrl" "/img/about/reinvest-profits.jpg") }}
</div>

{{ partial "footer" . }}
